<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <style>
        .outdiv{
            background-color: pink;
            border: solid black 1px;
            margin-top: 10px;
        }
        
    </style>
</head>
<body>
    <h1>posts on specific id</h1>
    <div class="outdiv"><h3>id:<%= t.id %></h3>
        <h3>username:@<%= t.username %></h3>
        <h3>content:<%= t.content %></h3></div>
    
    
</body>
</html>